:root {
  --blue: #1865f2;
  --green: #14bf96;
  --light-blue: #ecf2fd;
  --light-gray: #f5f5f5;
  --dark-gray: #21242c;
  --white: #ffffff;
  --orange: #f46a37;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--white);
}
.ratings {
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.ratings > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ratings p {
  font-size: 0.9rem;
  font-style: italic;
}
.ratings img {
  width: 25%;
}

.main-index {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  margin: 5% auto;
}

.left,
.right {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

main img {
  width: 70%;
}

.right {
  flex-direction: column;
}
.main-title {
  color: var(--green);
  font-weight: 800;
}
main p {
  width: 50%;
  text-align: center;
  margin-bottom: 5%;
}
.main-dashboard {
  padding-top: 92px;
}
.main-dashboard h1 {
  text-align: center;
  font-size: 1.3rem;
}
.main-img {
  width: 50%;
}
.site-footer {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-size: 0.8rem;
  position: absolute;
  bottom: 0;
}
.site-footer span {
  color: var(--blue);
}
