:root {
  --blue: #1865f2;
  --hreen: #14bf96;
  --light-blue: #ecf2fd;
  --light-gray: #f5f5f5;
  --dark-gray: #21242c;
  --white: #ffffff;
  --orange: #f46a37;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--white);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}
main img {
  margin-top: 3%;
  margin-bottom: 3%;
}
h1 {
  font-weight: 300;
}
.main-title {
  color: var(--blue);
  font-weight: 700;
}
main p {
  width: 50%;
  text-align: center;
}
button {
  margin-top: 3%;
}
